// ui库覆盖样式
@import './var.less';
.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  background: @menu-background-dark!important;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: rgba(29, 165, 122, 0.4) !important;
}
// .layout2-menu{
//   background-color:@menu-background!important;
// }
.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title{
  padding: 0 1rem!important;
}
