@import "~ant-design-vue/dist/antd.less";   // 引入官方提供的 less 样式入口文件
@layout-sider-background:#001529;
// 菜单背景色
@menu-background-dark:@layout-sider-background;
@menu-background-light:#fff;
// header 头部

@header-bg:#fff;

// 金额字体
@number-color:#ebbf92;

// nav-tabs 标签页
@nav-tab-bg:#f8f8f8;
@nav-tab-active-bg:#fff;
@nav-tab-active-color:@primary-color;
// @layout-body-background: #1d1e26;
