@import "~ant-design-vue/dist/antd.less";   // 引入官方提供的 less 样式入口文件
// 希望自定义的变量能 99%继承于框架； 主题样式去theme.less去覆盖
@layout-sider-background:#001529;
// 菜单背景色
@menu-background-dark:@layout-sider-background;
@menu-background-light:#fff;

// header 头部
@header-bg:@component-background;

// 金额字体
@number-color:#333;

// nav-tabs 标签页
@nav-tab-bg:#f9f9f9;
@nav-tab-active-bg:#fff;
@nav-tab-active-color:@primary-color;

// @info-color: #63c2de;
// @alert-info-bg-color:fade(@blue-6,10%);
// @primary-color: #20a8d8;
// @highlight-color: #cf1322;
@warning-color: #f86c6b;
@success-color: #4dbd74;

// @import './theme.less';
